.employee-slider-wrapper {
    position: relative; /* Position relative to contain the delete icon */
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.employee-slider {
    position: relative; /* Ensure correct layering */
    width: 100%;
    height: 100%;
}

.employee-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #dc3545;
    cursor: pointer;
    z-index: 100; /* Ensure it is above other elements */
    transition: opacity 0.3s ease;
    opacity: 0; /* Initially hidden */
}

.employee-slider-wrapper:hover .delete-icon {
    opacity: 1; /* Show on hover */
}

.employee-card-body {
    padding: 20px;
    flex: 1;
}

.employee-info {
    text-align: center;
}

.employee-name {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.employee-experience-title {
    font-size: 1.2em;
    margin: 10px 0 5px;
    color: #555;
}

.employee-objective {
    font-size: 1em;
    margin: 10px 0;
    color: #666;
}

.employee-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}

.employee-skill-tool {
    font-weight: bold;
    color: #333;
}

.employee-skill-years {
    color: #666;
}

/* Styles for the slider dots */
.slider-dot {
    width: 10px;
    height: 10px;
    background-color: #333; /* Dot color */
    border-radius: 50%; /* Circular shape */
    display: inline-block;
    margin: 0 2px;
}

.slick-dots li.slick-active .slider-dot {
    background-color: #e2e2e2; /* Color for the active dot */
}

.slick-dots {
    bottom: 10px; /* Position dots at the bottom of the slider */
}